@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/breakpoints" as *;

.button {
    padding: 15px 60px;
    border-radius: 100px;
    transition: 0.2s;

    line-height: 150%;
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    @include mobile {
        width: 100%;
        font-size: 1.8rem;
    }
}

.primary {
    background: $color-primary;
    color: $color-white;

    &:hover {
        background: $color-primary-hover;
    }
}

.secondary {
    background: $color-d;
    color: $color-45;

    &:hover {
        background: $color-c;
    }
}

// Popup Theme Styles
.popup {
    &.primary {
        background: $color-primary;
        color: $color-white;
        border: 1px solid $color-primary;

        &:hover {
            background: $color-primary-hover;
            border-color: $color-primary-hover;
        }
    }

    &.secondary {
        background: transparent;
        color: $color-45;
        border: 1px solid $color-c;

        &:hover {
            background: $color-d;
            border-color: $color-c;
        }
    }
}