@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/breakpoints" as *;

a.button {
    display: inline-block;
}

.button {
    padding: 15px 60px;
    border-radius: 100px;
    transition: 0.2s;

    line-height: 150%;
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    @include mobile {
        width: 100%;
        padding: 15px 10px;
        font-size: 2rem;
    }
}

.primary {
    background: $color-primary;
    color: $color-white;

    &:hover:not(:disabled) {
        background: $color-primary-hover;
    }
}

.secondary {
    background: $color-d;
    color: $color-45;

    &:hover:not(:disabled) {
        background: $color-c;
    }
}

// Popup Theme Styles
.popup {
    font-size: 2rem;

    &.primary {
        background: $color-2;

        &:hover:not(:disabled) {
            background: $color-primary;
        }
    }

    &.secondary {
        background: $color-white;
        color: $color-45;
        border: 1px solid $color-c;

        &:hover:not(:disabled) {
            background: $color-c;
            border-color: $color-white;
        }
    }

    @include mobile {
        font-size: 1.8rem;
    }
}

.form {
    padding: 20px 50px;
    border-radius: 0;
    color: $color-75;
    font-size: 1.8rem;
    font-weight: 400;
    background: $color-white;
    border: 1.5px solid $color-9;

    &:hover:not(:disabled) {
        background: $color-white;
        color: $color-primary;
        border-color: $color-primary;
    }

    @include mobile {
        padding: 12px 10px;
        font-size: 1.6rem;
    }
}

.download {
    padding: 16px 32px;

    display: flex;
    align-items: center;
    gap: 10px;

    color: $color-45;
    font-size: 2rem;
    font-weight: 400;
    background: $color-white;
    border: 1.5px solid $color-d;

    svg {
        color: $color-9;
    }

    &:hover:not(:disabled) {
        background: $color-white;
        color: $color-primary;
        border-color: $color-primary;

        svg {
            color: $color-primary;
        }
    }

    @include mobile {
        padding: 12px 10px;
        font-size: 1.6rem;
    }
}