$color-primary: #0871F3;
$color-primary-light: #41C7F4;
$color-secondary: #BAD1EC;
$color-red: #E52A00;

$color-1: #111111;
$color-2: #222222;
$color-3: #333333;
$color-45: #454545;
$color-6: #666666;
$color-75: #757575;
$color-9: #999999;
$color-white: #FFFFFF;