// container
$container-width: 1200px;

// color
$color-primary: #0871F3;
$color-primary-hover: #2392FF;
$color-primary-light: #41C7F4;
$color-secondary: #BAD1EC;
$color-red: #E52A00;

$color-1: #111111;
$color-2: #222222;
$color-3: #333333;
$color-45: #454545;
$color-6: #666666;
$color-75: #757575;
$color-9: #999999;
$color-white: #FFFFFF;

$color-c: #cccccc;
$color-d: #dddddd;

// font size
$font-xs: 1.2rem;
$font-sm: 1.4rem;
$font-md: 1.6rem;
$font-lg: 1.8rem;
$font-xl: 2rem;
$font-2xl: 2.2rem;