@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/breakpoints" as *;

.button {
    padding: 15px 60px;
    border-radius: 100px;
    transition: 0.2s;

    line-height: 150%;
    font-size: 2.2rem;
    font-weight: 500;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    @include mobile {
        padding: 8px 16px;
    }
}

.primary {
    background: $color-primary;
    color: $color-white;

    &:hover {
        background: $color-primary-hover;
    }
}

.secondary {
    background: $color-d;
    color: $color-45;

    &:hover {
        background: $color-c;
    }
}